:root{
    --main-bg-color: #eff5fe;
    --border-color: #0288d147;
    --upload-bg-color: #ffffff;
}
body, html{
    font-family: system-ui;
    background-color: var(--main-bg-color);
    height: 100%;
    margin:0;
    padding: 0;
}
body, .drop-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-container{
    background-color: var(--upload-bg-color);
    border-radius: 25px;
    box-shadow: 0px 20px 20px #0000002e;
}

.drop-zone{
    width: 500px;
    min-height: 200px;
    border: 2px dashed var(--border-color);
    margin: 30px;
    border-radius: 10px;
}

/* dragover effect on drop zone */
.dragged.drop-zone{
    transition: all .2s ease;
    background-color: var(--main-bg-color);
    border-color: #2196f3;
}

.icon-container{
    width: 75px;
    height: 100px;
    position: relative;
}

.icon-container img{
    width: 75px;
    position: absolute;
    transition: transform .25s ease-in-out;
}

.icon-container .center{
    z-index: 2;
}

.icon-container .left, .icon-container .right{
    transform-origin: bottom;
    filter: grayscale(.4);
    transform: scale(.9);
}

/* drag/drop transform effect on file icons */
.dragged .icon-container .left{
    transform: rotate(-10deg) translateX(-20px) scale(.9);
}

.dragged .icon-container .right{
    transform: rotate(10deg) translateX(20px) scale(.9);
}

.dragged .icon-container .center{
    transform: translateY(-5px);
}